#table{
    font-size: 78.5%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#table th {
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* background-color: blue; */
}
#table-row{
    color: white;
    background-color: #04AA6D;
}
td{
    margin: 4%;
    color: black;
}
#table tr:nth-child(even) {
    background-color:#aaa;
    width: 100%;
}
@media screen and(min-width: 500px){
    #table{
        /* margin-top: 50%; */
        font-size: 160%;
    }
}
@media screen and (min-width: 850px){
    #table{
        width: 50%;
    }
}